* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url(wall.jpg) no-repeat center;
}

h1, h2 {
    color: red;
}

figure {
    text-align: right;
    margin-right: 20px;
}

#experience p {
    text-align: center;
}

@font-face {
    font-family: 'AlexBrush-Regular';
    src: url(AlexBrush-Regular.ttf);
}

h1, h2, p, ul, li {
    font-family: 'AlexBrush-Regular';
}

#profile {
    border: 3px solid greenyellow;
    box-shadow: 6px 6px 0px black;
}