*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    height: 100vh;
}

header{

    height: 90px;
    background-color: #ECF0F1;
    color: #81C784;
}

/*:valid {
    box-shadow: 0 0 2px 1px green;
 }*/

.btn, .btn-sm {
    background-color: #FF9800;
    border-radius: 10px;
}


.card-title {
    background-color: #81C784;
    color: white;
}
.card-body{
    height: 60px;
}
.card-text{
    font-size:13px ;
    font-weight: bold;

}
.card-footer{
    height: 100px;

}
button{
    /* position: absolute; */
  
    width: 90px;
}
.descriptionDuProduit{
    padding: 20 20 20 20;
}
.prix{
    font-weight: bold;
}
.infoPrix{
    font-weight: normal;
    word-spacing: 10px;
}
.carousel-control-prev, .carousel-control-next{
    height: 20px;
}

@media (max-width:768px){
    .carousel-control-prev, .carousel-control-next{
        top: inherit!important;
    }
    .carousel-control-prev-icon{
        position: absolute;
        bottom: 10px;
    }
    .carousel-control-next-icon{
        position: absolute;
        bottom: 10px;
    }

    h1{
        font-size: 27px;
    }
}

@media (max-width:650px){
    h1{
        font-size: 20px;
    }
}